.OfficesInfo {
    padding: 39px 62px;
}

.OfficesInfo .equalHeight {
    position: relative;
    height: 34px;
    margin-bottom: 16px;
}

.OfficesInfo .equalHeight p {
    position: absolute;
    margin: 0px;
    bottom: 0;
    right: 0;
}

.OfficesInfo h1 {
    margin-top: 0px;
    margin-bottom: 19px;
    font-family: OpenSans, sans-serif;
    font-size: 32px;
    line-height: 1.5;
    letter-spacing: 2px;
    color: #53687e;
}

.OfficesInfo h1 span {
    font-family: OpenSans, sans-serif;
    font-size: 32px;
    line-height: 1.47;
    letter-spacing: 2px;
    color: #b7bdc4;
}

.OfficesInfo hr {
    margin: 35px 0px;
    border-top: 1px dotted gray;
}

.OfficesInfo>.row {
    margin: 0px;
}

@media (max-width: 768px) {
    .OfficesInfo {
        padding: 10px 10px;
    }
}