.OfficeEditor {
    margin-bottom: 16px
}
.OfficeEditor .panel {
    margin-bottom: 0px;
    border-radius: 2px;
}

.OfficeEditor p {
    margin-bottom: 0px;
    margin-right: 10px;
    line-height: 1.29;
    letter-spacing: 0.4px;
    color: #334152;
    padding-top: 9px;
}

.OfficeEditor .form-control {
    border-radius: 2px;
    padding: 8px 5px;
}