.Sidebar {
    background-color: #e9f0f5;
    height: 100%;
}

.Sidebar .sidebar-header {
    background: transparent url('../../assets/images/8.svg') no-repeat 50% 50%;
    background-color: #175786;
    background-size: auto;
    /* width: 219px; */
    height: 147.4px;
    display: block;
    border: solid 1px #ffffff;
}


.Sidebar .panel {
    margin-bottom: 0px;
    background-color: #e9f0f5;
    border: none;
    border-bottom: solid 1px #d8dde3;
    border-radius: 0px;
}

.Sidebar .panel-heading {
    border: none;
    background-color: #e9f0f5;
    padding: 0px;
}

.Sidebar .panel a {
    position: relative;
    display: block;
    padding-left: 24px;
    font-family: 'OpenSans', sans-serif;
    font-size: 14px;
    line-height: 3.43;
    letter-spacing: 0.4px;
    text-align: left;
    color: #53687e;
}

.Sidebar .panel a:focus {
    text-decoration: none;
}

.Sidebar .panel a:hover {
    text-decoration: underline;
}

.Sidebar .panel .list-unstyled a {
    line-height: 2.29;
    letter-spacing: normal;
}

.Sidebar .panel .list-unstyled a.sidelink-active::before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 2px;
    height: 100%;
    background-color: #2888d1;
}

@media (min-width: 768px) {
    .Sidebar::after {
        display: block;
        content: '';
        margin-bottom: -2000px;
        padding-bottom: 2000px;
        width: 100%;
        height: 10px;
        background-color: #e9f0f5;;
    }
}