.Office {
    margin-bottom: 16px
}
.Office .panel {
    margin-bottom: 0px;
    border-radius: 2px;
}

.Office .panel-body {
    padding: 15px 33px;
}

.Office p {
    margin-bottom: 0px;
    margin-right: 10px;
    line-height: 1.29;
    letter-spacing: 0.4px;
    color: #334152;
}

.Office p.hq {
    font-weight: 600;
}